body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    text-align: center;
    color: #333;
}

#citiesSelection {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

#citiesSelection label {
    flex: 1 1 calc(50% - 10px);
    font-size: 0.9em;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block; 
    margin: 20px auto;
}

button:hover {
    background-color: #0056b3;
}

.matrix-wrapper {
    overflow-x: auto;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8em; 
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

#seleccionAlgoritmo {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    justify-content: center; 
}

#opcionMapa {
    padding: 10px;
    font-size: 1.1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    appearance: none;
    width: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

#resultadoAlgoritmo {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#caminoResultado, #distanciaResultado {
    font-size: 1.2em;
    margin-bottom: 20px;
}

iframe {
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
